
@inject ReservationService _reservation

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Add Reservation</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Offcanvas right</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">


        <EditForm Model="@Reservation" OnValidSubmit="@HandleValidSubmit" class="mt-3">
            <DataAnnotationsValidator />
            <ValidationSummary />
    

            <div class="form-floating mb-3">
              <select class="form-select" id="floatingUsers" aria-label="Floating label select example" @bind="@Reservation.PakhdUserId">
                <option selected>Select a User</option>
                
                    @foreach(var user in PakhdUsers)
                    {
                        <option value="@user.Id">@user.UserName</option>
                    } 
                
                
                
                        
              </select>
              <label for="floatingUsers">User</label>
            </div>
            

            <div class="form-floating mb-3">
              <select class="form-select" id="floatingItems" aria-label="Floating label select example" @bind="Reservation.ItemId">
                <option selected>Select a ticket</option>
                    
                        @foreach(var item in Items)
                        {
                            <option value="@item.ItemId">@item.Number</option>
                        }
                      
              </select>
              <label for="floatingItems">Items</label>
            </div>
            
            <div class="text-end mt-3">
                <button class="btn btn-primary" type="submit" data-bs-dismiss="offcanvas">Create</button>
            </div>
        
        </EditForm>
    
   
    
        
  </div>
</div>



@code {
    [Parameter] public Reservation Reservation { get; set; }
    [Parameter] public PakhdUser[] PakhdUsers { get; set; }
    [Parameter] public Item[] Items { get; set; }
    [Parameter] public EventCallback HandleValidSubmit { get; set; }
    //[Parameter] public EventCallback OnAddClick { get; set; }
}